<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <script src="https://use.fontawesome.com/f8e35c4eda.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <title>BIBS</title>
  </head>
  <body>
    <h1 id="bibs-title">BROWN INSTITUTE FOR BRAIN SCIENCE</h1>
    <div class="logo"></div>
    <nav class="navbar clearfix">
      <ul>
        <li><a class="left-nav for-brown">FOR THE BROWN COMMUNITY</a></li>
        <li><a class="events">EVENTS</a></li>
        <li><a class="donate">DONATE</a></li>
        <li><a>EDUCATION</a></li>
        <li><a class="news">NEWS & PRESS</a></li>
        <li><a>TOOLS & RESOURCES</a></li>
        <li><a>BIBS BL-OG</a></li>
      </ul>
    </nav>
    <div class="carousel">
      <div class="carousel-img carousel-img1">
        <div class="carousel-text">
          Driving Discovery and Innovation
          <p class="carousel-subtext-holder">
            <p class="carousel-subtext">
              <a href="#feature-1" class="learn-more-button" type="button" name="button">
                LEARN MORE
                <i class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
              </a>
            </p>
          </p>
        </div>
      </div>
        <div class="carousel-img carousel-img2">
          <div class="carousel-text">
            A Community of Diverse Opinions, Open Minds and Disruptive Ideas
            <p class="carousel-subtext-holder">
              <p class="carousel-subtext">
                <a href="#feature-1" class="learn-more-button" type="button" name="button">
                  LEARN MORE
                  <i class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
                </a>
              </p>
            </p>
          </div>
        </div>
      <div class="carousel-img carousel-img3">
        <div class="carousel-text">
          From Great Ideas to Real Solutions
          <p class="carousel-subtext-holder">
            <p class="carousel-subtext">
              <a href="#feature-1" class="learn-more-button" type="button" name="button">
                LEARN MORE
                <i class="fa fa-caret fa-caret-right" aria-hidden="true"></i>
              </a>
            </p>
          </p>
        </div>
      </div>
    </div>
    <p class="paragraph">
      Brown is a fantastic environment for discovery and innovation.  The unique combination of world-class researchers in a friendly, interactive environment provides ideal soil for growing great new ideas into real progress and a better world.  This environment also is ideal for educating the next generation of scholars focused on making an impact.
    </p>
    <div class="feature-box" id="feature-1">
      <div class="feature-pic feature-pic--barnea"></div>
      <div class="feature-pic feature-pic--hochberg"></div>
      <div class="feature-text">Brown is making new tools that will enable a new generation of findings and treatments in brain science.  These range from molecular innovations for jumping across synapses, to novel wireless brain implant and electrode systems.  Here we highlight a few examples from the range of activity.</div>
      <a href="#feature=dropdown--1"><p class="feature-title feature-1-title">NEW TOOLS THAT ADVANCE BRAIN SCIENCE
        <i class="fa fa-caret--1 fa-caret-right" aria-hidden="true"></i>
      </p></a>
    </div>
    <div id="feature-dropdown--1" class="feature-dropdown feature-dropdown--1 hidden">
      <h3 class="feature-dropdown__title">TANGO</h3>
      <p class="feature-dropdown__text">
        This transformative new method can relay signals across a synapse, allowing researchers to map and control specific brain pathways with remarkable specificity.  Dr. Gilad Barnea has been developing this approach for several years, and recently received an NIH Pioneer award for this groundbreaking work.
      </p>
      <div class="feature-dropdown__img"></div>
    </div>

  </body>
</html>
