<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css"/>
    <title>so nice!</title>
  </head>
  <body>
    <h1>hello from the root!</h1>
    <div class="carousel">
			<div><img src="http://i.huffpost.com/gen/1224131/images/o-NEUROSCIENCE-facebook.jpg" /></div>
			<div><img src="http://www.ucl.ac.uk/research/domains/neuroscience/layout-components/carousel/photo2" /></div>
			<div><img src="http://www.gla.ac.uk/media/media_334231_en.jpg"  /></div>
    </div>
  </body>
</html>
