// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#bibs-title {
  font-weight: 300;
  font-size: 60px;
}

.carousel {
  width: 100%;
  height: 500px;
  min-height: 500px;
  margin: 0 auto;
  display: block;
  overflow: hidden;
}

.carousel-text {
  padding-top: 300px;
  padding-left: 40px;
  text-shadow: 1px 1px 2px black;
  display: block;
}

.learn-more-button {
  background: #ffd507;
  border-radius: 2px;
  padding: 8px 20px;
  color: black;
  text-shadow: none;
  font-size: 16px;
  font-weight: 300;
  border: none;
  text-decoration: none;
}

.learn-more-button:hover {
  cursor: pointer;
  background: #c1a104;
}

.carousel-img {
  height: 500px !important;
  padding: 15px;
  font-size: 36px;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-img1 {
  background: url('http://i.huffpost.com/gen/1224131/images/o-NEUROSCIENCE-facebook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-img2 {
  background: url('http://img0.mxstatic.com/wallpapers/d501dcc11d679612a0186e5421189e4c_large.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-img3 {
  background: url('https://www.astrazeneca.com/content/dam/az/Our-Science/Partnering/neuroscience.jpg/_jcr_content/renditions/cq5dam.web.1200.neuroscience.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  background: #373737;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
}

h1 {
  margin: 10px;
  display: inline-block;
  font-weight: normal;
  font-size: 48px;
}

.logo {
  background: url('./bibs-logo-transparent.png'); // for some reason file must be in this folder
  height: 100px;
  width: 118px;
  background-size: cover;
  float: right;
  margin: 15px 15px 0 0;
}

.navbar {
  width: 100%;
  margin: 10px auto;
  display: block;
}

.navbar ul {
  margin: 10px auto;
  padding: 0 20px;
}

.navbar li {
  display: inline-block;
}

.navbar li a {
  background: transparent;
  padding: 15px 20px;
  border-radius: 1px;
}

.navbar li a:hover {
  cursor: pointer;
  color: #ffd507;
  transition: 1s ease;
}

.left-nav {
  margin-left: 0 !important;;
  padding-left: 0 !important;;
}

.clearfix {
  content: none;
  clear: both;
}

.paragraph {
  width: 60%;
  margin: 100px auto 50px;
  padding: 20px;
  font-size: 22px;
  font-weight: 300;
  text-shadow: none;
}

.feature-box {
  width: 60%;
  height: 220px;
  background: darkgray;
  margin: 0 auto;
  position: relative;
  padding: 20px;
  border-radius: 2px;
}

.feature-pic {
  height: 180px;
  padding: 10px 0;
  margin: 10px;
  z-index: -1;
  float: left;
  width: 130px;
}

.feature-pic--barnea {
  background: url("https://news.brown.edu/files/styles/vertical/public/images/Barnea1.jpg?itok=C1inwjdA");
  background-size: cover;
  background-repeat: no-repeat;
}

.feature-pic--hochberg {
  background: url("http://today.brown.edu/files/imagecache/main_image/article_images/Hochberg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
}

.feature-title {
  padding: 20px 30px;
  background: rgba(60, 60, 60, 0.8);
  z-index: 1;
  display: block;
  position: absolute;
  width: 93.1%;
  left: 0;
  bottom: -20px;
  font-size: 20px;
  color: whitesmoke;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.feature-title:hover {
  cursor: pointer;
  background: rgba(30, 30, 30, 0.8);
  transition: 0.5s ease;
}

.feature-text {
  color: black;
  padding: 10px;
  font-size: 20px;
  font-weight: 300;
}

.hidden {
  display: none;
}

.feature-dropdown {
  width: 60%;
  margin: 10px auto;
  background: darkgray;
  border-radius: 2px;
  padding: 20px;
  color: black;
}

.feature-dropdown__title {
  font-size: 24px;
  margin: 0 auto;
  padding: 10px;
}

.feature-dropdown__text {
  display: inline-block;
  width: 66%;
  font-size: 20px;
  font-weight: 300;
  padding: 10px;
  margin: 0;
}

.feature-dropdown__img {
  background: url("http://www.walldevil.com/wallpapers/w03/897861-neurons-neuroscience-science-fiction-synapse.jpg");
  background-size: cover;
  height: 120px;
  width: 29%;
  float: right;
  margin: 20px 10px;
  border-radius: 2px;
}
